.about {
    padding: 30px 0;
}

.about .content {
    padding: 10px 0;
}

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
    text-align: center;
  }
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  .about .content ul li {
    padding-left: 28px;
    position: relative;
  }
  .about .content ul li + li {
    margin-top: 10px;
  }
  .about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #2487ce;
    line-height: 1;
  }
  .about .content p:last-child {
    margin-bottom: 0;
  }
  .about .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #2487ce;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #2487ce;
  }
  .about .content .btn-learn-more:hover {
    background: #2487ce;
    color: #fff;
    text-decoration: none;
  }

  /*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
    padding: 60px 0;
  }
  .counts .count-box {
    width: 100%;
    text-align: center;
  }
  .counts .count-box span {
    font-size: 48px;
    line-height: 48px;
    display: block;
    font-weight: 700;
    color: #124265;
    margin-left: 80px;
    margin: auto;
  }
  .counts .count-box p {
    padding: 8px 0 0 0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #1e6ca6;
  }

  /*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
    padding: 20px 0;
}
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
    overflow: hidden;
  }
  .testimonials .testimonial-item {
    box-sizing: content-box;
    text-align: center;
    min-height: 320px;
  }
  .testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
  }
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
  }
  .testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 15px 35px 15px;
    padding: 20px;
    background: #d2e7f4;
    position: relative;
    border-radius: 6px;
  }
  .testimonials .testimonial-item p::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid #f3f9fd;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 20px);
  }
  .testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  .testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #2487ce;
  }
  .testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2487ce;
  }