.main-background > section.panel.navbar-panel {
	margin-top: 0;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    position: sticky;
	position: -webkit-sticky;
    top: -20px;
    z-index: 999;
	background-color: #ffffffaa;
	box-shadow: 0 0 5px gray;
}

.navbar
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: #ffffff88;
	backdrop-filter: blur(10px);
}

.navbar > .logo 
{
	display: flex;
	align-items: center;
}

.navbar > .logo > img 
{
	width: calc(4vw + 25px);
	min-width: 50px;
	border-radius: 50%;
}

.navbar .links {
	height: 100%;
	display: flex;
	gap: calc(2vw + 10px);
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.navbar .links > a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.navbar .links > a > h4 {
	color: #000;
	padding: 5px 10px;
}

.navbar .links > a::before {
	content: '';
	height: 0;
	width: 40px;
	transition: all .4s;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	background: #005eff;
	border-radius: 10px 10px 0 0;
}

.navbar .links > a.active::before,
.navbar .links > a:hover::before {
	height: 6px;
}

.navbar .links > a > h4:hover {
	color: #005eff;
}

.navbar > .language {
	display: flex;
}

.navbar > .language #language {
	border-radius: 10px;
	background-color: #AEC4EB;
	padding: 4px 8px;
}

.navbar > .language #language option {
	border-radius: 10px;
}

.fixed-navbar-menu {
	display: none;
}

@media screen and (max-width: 420px) {
	.navbar > .language {
		order: 1;
	}
	.navbar > .links {
		order: 2;
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.main-background > section.panel.navbar-panel {
		position: static;
	}

	.navbar .links {
		display: none;
	}

	.fixed-navbar-menu {
		display: flex;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 99;
		background-color: #0d1d2e88;
		backdrop-filter: blur(5px);
		width: 100%;
		padding: 8px 0;
		justify-content: space-around;
		border-radius: 10px 10px 0 0;
	}
}